@font-face {
  font-family: 'texto';
  src: url('Martel/Martel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'titulo';
  src: url('Hind_Siliguri/HindSiliguri-Medium.ttf') format('truetype');
}

p {
  font-family: 'texto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'titulo', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #CDD973;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #8CBF3F;
  color: #F2F2F2;
  text-align: center;
  border-radius: 10px;
  box-shadow: #555 0px 0px 10px;
}

/*index mobile*/
@media (max-width: 610px) {
  .navbarMobile {
    display: block;
  }

  .subtit_nos {
    margin-left: 0% !important;
  }

  .link-adopt {
    color: #F2F2F2;
    text-decoration: none;
  }

  .adopteH,
  .adopteT {
    text-align: center;
  }

  .adopteB {
    margin-left: 20%;
    width: 60%;
  }

  .textoIndex {
    text-align: left;
  }

  .navbarDesktop {
    display: none;
  }

  .ult_adopcion {
    margin: 5%;
    width: auto;
    margin-top: 18%;
    height: fit-content;
    margin-bottom: 9%;
  }

  .adopte {
    margin: 5%;
    width: auto;
    height: fit-content;
    margin-bottom: 9%;
  }

  .imagenCarrusel {
    background-position: center;
    background-size: contain;
    width: 100%;
  }

  body {
    display: block;
  }

  .introduccion {
    margin: 5%;
  }

}

/*index desktop*/
@media (min-width: 611px) {

  .link-adopt {
    color: #F2F2F2;
    text-decoration: none;
  }

  .inicioB {
    display: block;
  }

  .adopteH,
  .adopteT {
    text-align: center;
    margin-left: 7%;
  }

  .adopteB {
    width: 20%;
    margin-left: 43%;
  }

  .textoIndex {
    text-align: left;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 3%;
  }

  .carruselNombre {
    font-size: 20px;
    /*color original gris 333*/
    background-color: rgb(32, 32, 32);
    opacity: .8;
    /*si le gusta corto dejar esto sino volarlo*/
    display: table;
    margin: auto;
  }

  .introduccion {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
  }

  .navbarMobile {
    display: none;
  }

  .navbarDesktop {
    display: flex;
    flex-grow: 0;
  }

  .ult_adopcion {
    margin-top: 2%;
    margin-left: 5%;
    width: auto;
  }

  .adopte {
    margin-top: 2%;
    margin-right: 5%;
    width: auto;
  }

  .imagenCarrusel {
    background-position: center;
    background-size: contain;
    width: 100%;
  }

  #carouselExampleCaptions {
    margin-left: 10%;
    margin-right: 15%;
  }

  /* por que en el inspector si agarro el body y le pogno display grid queda bien pero si lo hago desde css no*/
  .body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  body {
    display: grid;
  }

  .header {
    grid-area: 1 / 1 / 2 / 6;
  }

  .img {
    /* preguntar como acomodar la imagen*/
    height: 100%;
    width: 100%;
  }

  .adopte {
    grid-area: 3 / 4 / 5 / 6;
  }

  .introduccion {
    grid-area: 6 / 1 / 8 / 6;
  }

  .ult_adopcion {
    grid-area: 3 / 1 / 5 / 3;
  }

  ul li {
    margin: 2%;
  }

  .spanPacma {
    margin-left: -15px;
  }
}

.mobile {
  width: 100%;
  display: contents;
}

header {
  background-color: #ffffff;
  padding: 10px;
}

nav {
  text-align: center;
}

.logo {
  width: 100px;
  height: 80px;
}

.icon_usser {
  width: 50px;
  height: 50px;
}

nav ul,
form {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
.form {
  display: inline;
}

.bodydonar {
  display: inherit;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: -55px;
}

#donarall {
  display: flex;
}

.formdon {
  margin-left: 45px;
}

.conteiner {
  display: flex;
}

.img {
  height: 100%;
  width: 100%;
}

.donation-form {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  color: #07B2D9;
  text-decoration: none;
}


/*noticias*/
.noticiero {
  display: block;
}

.noticias {
  display: flex;
  flex-wrap: wrap;
  margin-left: 57px;
}

.buscador {
  width: 90%;
}

.titulo {
  margin: 3%;
}

.card {
  margin: 6%;
}

/*de aca pa bajo imput buscador*/
.input-wrapper {
  position: relative;
  width: 290px;
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 100%;
}

.input.password {
  padding: 15px 35px 15px 15px;
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon.password {
  left: unset;
  right: 12px;
}

/*----------------------*/

/*donacion*/
.formulario {
  width: 400px;
  margin: 5%;
}

.fecha {
  font-size: 13px;
}

#inputCodigo,
#inputNombre,
#inputMes,
#inputAno,
#inputCvv,
#inputMonto {
  border: none;
  outline: none;
  box-shadow: none;
}

#buscador {
  margin-left: 96px;
}

.input-icon {
  margin-left: 96px;
}

/*----------------------*/
.form_login,
.form_registro {
  border: solid;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 90px;
  width: 20%;
  margin-top: 80px;
}

h2,
h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 40px;
  background-color: #8CBF3F;
  color: white;
  border: none;
}

.images {
  margin-left: 20px;
}

.images img {
  display: block;
  margin-bottom: 10px;
}

.subtit_nos {
  text-align: center;
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 20px;
}

.introduccion {
  text-align: center;
}

----------------- .adopt {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.cardo {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.cardo-img-top {
  object-fit: cover;
}

.cardo-body {
  padding: 10px;
}

.donaaa {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  margin-bottom: 80px;
  margin-top: 30px;
}

.listadonar {
  margin-top: -30px;
  margin-left: 6%;
  margin-right: 6%;
}

.imgdonar {
  width: 500px;
}

.adoptame {
  display: flex;
  margin-left: 140px;
}

.perro {
  margin-right: 10px;
}

.adoptame-txt {
  margin-left: 50px;
  margin-right: 100px;
}

#name,
#saludo {
  font-size: larger;
  margin-top: 15px;
}

#saludo {
  margin-left: 60px;
}

.alladopt {
  display: flex;
  flex-direction: column;
}

.adoptando {
  margin-left: 630px;
  margin-right: 630px;
}

.input-telef {
  margin-left: 4px;
}

#p1,
#p2,
#p3 {
  width: 300px;
}

.conteiner_log {
  align-items: center;
}

.form_adopt {
  text-align: center;
}

.txtmsn {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 490px;
}

#teladop {
  margin-top: 19px;
}

#inputadopt {
  margin-top: -19px;
}

.pedir {
  margin-top: -11px;
  margin-bottom: 30px;
  /*width: 99px !important;*/
}