body {
  font-family: Arial, sans-serif;
  background-color: #CDD973;
  margin: 0;
  padding: 0;
}

/*index mobile*/
@media (max-width: 610px) {

  .navbarMobile {
    display: block;
  }

  .navbarDesktop {
    display: none;
  }

  .ult_adopcion {
    margin: 2%;
    width: auto;
    height: fit-content;
  }

  .adopte {
    margin: 2%;
    width: auto;
    height: fit-content;
  }

  .imagenCarrusel {
    background-position: center;
    background-size: contain;
    width: 100%;
  }

  body {
    display: block;
  }

  .introduccion{
    margin: 2%;
  }
 
}

/*index desktop*/
@media (min-width: 611px) {

  .carruselNombre{
    font-size: 20px;
    /*color original gris 333*/
    background-color: rgb(32, 32, 32);
    opacity: .8;
    /*si le gusta corto dejar esto sino volarlo*/
    display: table;
    margin: auto;
  }

  .introduccion{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
  }

  .navbarMobile {
    display: none;
  }

  .navbarDesktop {
    display: flex;
    flex-grow: 0;
  }

  .ult_adopcion {
    margin-top: 2%;
    margin-left: 5%;
    width: auto;
  }

  .adopte {
    margin-top: 2%;
    margin-right: 5%;
    width: auto;
  }

  .imagenCarrusel {
    background-position: center;
    background-size: contain;
    width: 100%;
  }
  /* por que en el inspector si agarro el body y le pogno display grid queda bien pero si lo hago desde css no*/
  .body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  body{
    display: grid;
  }

  .header {
    grid-area: 1 / 1 / 2 / 6;
  }

  .adopte {
    grid-area: 3 / 4 / 5 / 6;
  }

  .introduccion {
    grid-area: 6 / 1 / 8 / 6;
  }

  .ult_adopcion {
    grid-area: 3 / 1 / 5 / 3;
  }

  ul li {
    margin: 2%;
  }

  .spanPacma {
    margin-left: -15px;
  }
}

.mobile {
  width: 100%;
  display: contents;
}

header {
  background-color: #ffffff;
  padding: 10px;
}

nav {
  text-align: center;
}

.logo {
  width: 100px;
  height: 80px;
}

.icon_usser {
  width: 50px;
  height: 50px;
}

nav ul,
form {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
.form {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  display: flex;
}

.img {
  height: 100%;
  width: 100%;
}

.donation-form {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_login,
.form_registro {
  text-align: center;
}

h2,
h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.images {
  margin-left: 20px;
}

.images img {
  display: block;
  margin-bottom: 10px;
}

.subtit_nos {
  margin-top: 5%;
}

.introduccion {
  text-align: center;
}

.adopt {
  display: flex;
  margin-left: 30px;
}

.adoptame{
  display: flex;
  margin: 20px;
}

.adoptame-txt{
  margin-left: 60px;
  
}