/*                                  navbar                                        */
/*margen de los elementos del navbar*/
ul li {
    margin: 2%;
}

a {
    text-decoration: none;
    color: 0477BF;
}

/*tamaño del logo*/
.logo {
    width: 70px;
}

/*el pacma del logo desktop*/
.spanPacma {
    margin-left: -15px;
}

/*muestra el navbar desktop*/
.navbarDesktop {
    display: block;
}

.usuario {
    display: flex;
}

.login {
    display: flex;
}

.login1 {
    margin-top: 12%;
}

.login2 {
    margin-top: 11%;
}

.bienvenido {
    margin-right: 10px;
}

.a {
    margin-top: 10%;
    height: 40px;
    background-color: #8CBF3F;
    color: white;
    border: none;
}

/*--------------------------------------------------------------------------------*/

/*                                     resto                                       */
/*defino un color para ver mejor la proporcion cambiar o sacar*/
/*
body {
    background-color: #CDD973;
}*/

footer {
    background-color: #8CBF3F;
    color: #F2F2F2;
    text-align: center;
    border-radius: 10px;
    box-shadow: #555 0px 0px 10px;
}

.titulo {
    text-align: center;
    margin-top: 3%;
}

.menu {
    display: flex;
    margin: 3%;
}

/*--------------------------------------------------------------------------------*/

/*                                      formuario                                 */
.formulario {
    margin: 3%;
    width: auto;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 5px;
    width: 205px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

.formulario {
    margin-left: 20%;
}

/*--------------------------------------------------------------------------------*/

/*                                    fuentes                                          */
@font-face {
    font-family: 'texto';
    src: url('fuentes/Martel-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'titulo';
    src: url('fuentes/HindSiliguri-Medium.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'titulo', sans-serif;
}

p {
    font-family: 'texto', sans-serif;
}

/*-------------------------------------------------------------------------------------*/