/*defino un color para ver mejor la proporcion cambiar o sacar*/
/*
body {
  background-color: #CDD973;
}*/
a {
  text-decoration: none;
  color: 0477BF;
}

/*titulos*/
h1,
h2 {
  text-align: center;
}

.usuario {
  text-align: center;
  width: 300px;
}

footer {
  background-color: #8CBF3F;
  color: #F2F2F2;
  text-align: center;
  border-radius: 10px;
  box-shadow: #555 0px 0px 10px;
}

/*index mobile*/
@media (max-width: 610px) {

  /*muestra el navbar mobile*/
  .navbarDesktop,
  .menuMobile {
    display: block;
  }

  /*oculta el navbar desktop*/
  .navbarDesktop,
  .menuDesktop {
    display: none;
  }

  /*acomoda los margenes del div*/
  .ult_adopcion,
  .adopte,
  .introduccion {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /*acomoda la imagen dentro del div*/
  .imagenCarrusel,
  .imagenAdopte {
    background-position: center;
    background-size: contain;
    width: 100%;
  }

  body {
    display: block;
  }

  /*acomoda la parte de arriba del navbar*/
  .mobile {
    width: 100%;
    display: contents;
  }

  /*esto es el texto del desplegable*/
  nav {
    text-align: center;
  }

  /*logo del navbar*/
  .logo {
    width: 100px;
    height: 80px;
  }

  .carruselNombre {
    display: none;
  }
}

/*index desktop*/
@media (min-width: 611px) {

  /*oculta el navbar mobile y el menu*/
  .navbarMobile,
  .menuMobile {
    display: none;
  }

  /*muestra el navbar desktop*/
  .navbarDesktop {
    display: block;
  }

  /*                                  navbar                                        */
  /*margen de los elementos del navbar*/
  ul li {
    margin: 2%;
  }

  /*tamaño del logo*/
  .logo {
    width: 70px;
  }

  /*el pacma del logo desktop*/
  .spanPacma {
    margin-left: -15px;
  }

  /*muestra el navbar desktop*/
  .navbarDesktop {
    display: block;
  }

  .usuario {
    display: flex;
  }

  .login {
    display: flex;
  }

  .login1 {
    margin-top: 12%;
  }

  .login2 {
    margin-top: 11%;
  }

  .bienvenido {
    margin-right: 10px;
  }

  /*--------------------------------------------------------------------------------*/

  /* muestra el menu desktop*/
  .menuDesktop {
    display: flex;
  }

  /*esto afecta al nombre de la mascota en el carrusel*/
  .carruselNombre {
    font-size: 20px;
    /*color original gris 333*/
    background-color: rgb(32, 32, 32);
    /*opacidad para el fondo*/
    opacity: .8;
    /*es para el fondo*/
    display: table;
    /*lo pone al medio*/
    margin: auto;
  }

  /*esto esta bien solo modificar valores*/
  .introduccion {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
  }

  /* esto es igual que el mobile vamos a tener que cambiarlo*/
  .ult_adopcion,
  .adopte {
    /*con esto variamos el ancho*/
    margin: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .imagenCarrusel,
  .imagenAdopte {
    background-position: center;
    background-size: contain;
    width: 100%;
  }
}

/*                                    fuentes                                          */
@font-face {
  font-family: 'texto';
  src: url('fuentes/Martel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'titulo';
  src: url('fuentes/HindSiliguri-Medium.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'titulo', sans-serif;
}

p {
  font-family: 'texto', sans-serif;
}

/*-------------------------------------------------------------------------------------*/