/*                                         navbar                                        */
/*margen de los elementos del navbar*/
ul li {
    margin: 2%;
}

button {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    height: 40px !important;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    background-color: #8CBF3F !important;
    color: white !important;
    border: none !important;
}

a {
    color: white;
    text-decoration: none;
  }
  

/*tamaño del logo*/
.logo {
    width: 70px;
}

/*el pacma del logo desktop*/
.spanPacma {
    margin-left: -15px;
}

/*muestra el navbar desktop*/
.navbarDesktop {
    display: block;
}

.usuario {
    display: flex;
}

.login {
    display: flex;
}

.login1 {
    margin-top: 12%;
}

.login2 {
    margin-top: 11%;
}

.bienvenido {
    margin-right: 10px;
}

/*---------------------------------------------------------------------------------------*/

/*                                         menu                                          */

body {
    background-color: #CDD973;
}

.imagenes {
    display: flex;
}

.imagenDiv {
    margin: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.img {
    background-position: center;
    background-size: contain;
    width: 100%;
}

.titulo {
    margin-top: 3%;
    text-align: center;
}

.texto {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
}

footer {
    background-color: #8CBF3F;
    color: #F2F2F2;
    text-align: center;
    border-radius: 10px;
    box-shadow: #555 0px 0px 10px;
}

.boton {
    margin-bottom: 3%;
    text-align: center;
}

ul {}

/* distancia entre cada elemento de la lista*/
ul li {
    margin: 1.2%;
}

/*---------------------------------------------------------------------------------------*/

/*                                    fuentes                                            */
@font-face {
    font-family: 'texto';
    src: url('fuentes/Martel-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'titulo';
    src: url('fuentes/HindSiliguri-Medium.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'titulo', sans-serif;
}

p {
    font-family: 'texto', sans-serif;
}

/*---------------------------------------------------------------------------------------*/